<div class="container-fluid" *ngIf="frontend">
	<div class="row" id="gridView">
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-12" id="headerProject">
					<h2>Frontend / Web development</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6" *ngFor="let project of frontend" id="imgDiv">
					<a routerLink="/project/{{project.id}}" routerLinkActive="active" (click)="onSelect(project)">
						<img class="img-thumbnail" [src]="project.thumbnail" alt="{{project.name}}" title="{{project.name}}">
						<p id="imgParagaraph">{{project.name}}</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-12" id="headerProject">
					<h2>Game development / Computer Graphics</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6" *ngFor="let project of gameGraphics" id="imgDiv">
					<a routerLink="/project/{{project.id}}" routerLinkActive="active" (click)="onSelect(project)">
						<img class="img-thumbnail" [src]="project.thumbnail" alt="{{project.name}}" title="{{project.name}}">
						<p id="imgParagaraph">{{project.name}}</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-12" id="headerProject">
					<h2>UI/UX</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6" *ngFor="let project of interactionDesign" id="imgDiv">
					<a routerLink="/project/{{project.id}}" routerLinkActive="active" (click)="onSelect(project)">
						<img class="img-thumbnail" [src]="project.thumbnail" alt="{{project.name}}" title="{{project.name}}">
						<p id="imgParagaraph">{{project.name}}</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-12" id="headerProject">
					<h2>Talks</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6" *ngFor="let talk of talks" id="imgDiv">
					<a routerLink="/project/{{talk.id}}" routerLinkActive="active" (click)="onSelect(talk)">
						<img class="img-thumbnail" [src]="talk.thumbnail" alt="{{talk.name}}" title="{{talk.name}}">
						<p id="imgParagaraph">{{talk.name}}</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>