.img-thumbnail {
	border: none !important;
}

h2 {
	font-family: essonnes-headline, serif;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
}

a {
	font-family: century-gothic, sans-serif;
	color: black;
}

a:hover {
	color: lightgrey;
}