#gridView {
	margin-top: 7em;
	margin-bottom: 5em;
	@media (max-width: 768px) {
		margin-top: 0em;
	}
	#imgDiv {
		margin: 0;
		padding: 0;
		.img-thumbnail {
			border: none !important;
			border-radius: 0px;
			margin: 0px;
			padding-left: 0px;
			-moz-transition: all 0.2s ease-in-out 0s;
			-webkit-transition: all 0.2s ease-in-out 0s;
			-ms-transition: all 0.2s ease-in-out 0s;
			transition: all 0.2s ease-in-out 0s;
		}
		#imgParagaraph {
			font-family: mr-eaves-modern;
			font-weight: 400;
			font-size: 14pt;
			color: black;
			opacity: 0;
			position: absolute;
			width: 100%;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-moz-transition: all 0.2s ease-in-out 0s;
			-webkit-transition: all 0.2s ease-in-out 0s;
			-ms-transition: all 0.2s ease-in-out 0s;
			transition: all 0.2s ease-in-out 0s;
		}
		@media (max-width: 768px) {
			margin-bottom: 2em;
		}
	}
	#imgDiv:hover {
		.img-thumbnail {
			opacity: 0.2;
		}
		#imgParagaraph {
			opacity: 1;
		}
	}
}

#headerProject {
	padding: 0;
}

h2 {
	font-family: mr-eaves-modern, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16pt;
	text-align: left;
	@media (max-width: 768px) {
		text-align: center;
	}
}

a {
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: black;
	text-decoration: none;
}

a:hover {
	color: lightgrey;
}