<div class="container-fluid">
	<div class="row" id="contactPage">
		<div class="col-12">
			<h6>Contact</h6>
			<div class="row">
				<div class="col-12">
					<p>+46 76 239 15 97</p>
					<p>
						<a href="mailto:duiardal@gmail.com" target="_top">duiardal@gmail.com</a>
					</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12">
					<p>
						<a href="https://www.linkedin.com/in/dui-ardal-9b197a124" target="_blank">LinkedIn</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>