h2 {
	font-family: essonnes-headline, serif;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
}

p {
	text-align: center;
	font-family: century-gothic, sans-serif;
	color: black;
}