<div class="container-fluid" id="projectDetails" *ngIf="project?.image; else nothingExtra">
	<!-- Huvudbild -->
	<!-- Titel och kort beskrivning -->
	<div class="row" id="titleAndDesc">
		<div class="col-12">
			<h2>{{project?.name}}</h2>
			<p id="details">{{project?.details}}</p>
			<h3 id="shortDescription">{{project?.shortDescription}}</h3>
		</div>
	</div>

	<div class="row" id="mainImage">
		<div class="col-12" *ngIf="project?.image">
			<img class="img-fluid" [src]="project?.image">
		</div>
	</div>

	<!-- Två bilder bredvid varandra -->
	<div class="row" id="articleImage">
		<div class="col-6" *ngIf="project?.image2">
			<img class="img-fluid" [src]="project?.image2">
		</div>
		<div class="col-6" *ngIf="project?.image3">
			<img class="img-fluid" [src]="project?.image3">
		</div>
	</div>

	<!-- Beskrivning av projektet -->
	<div class="row" id="description">
		<div class="col-12">
			<p>{{project?.description}}</p>
		</div>
	</div>

	<!-- Beskrivning av projektet -->
	<div class="row" id="description" *ngIf="project?.description2">
		<div class="col-12">
			<p>{{project?.description2}}</p>
		</div>
	</div>

	<!-- En liggande bild -->
	<div class="row" *ngIf="project?.image4">
		<div class="col-12">
			<img class="img-fluid" [src]="project?.image4">
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<p>Year: {{project?.year}}</p>
		</div>
	</div>
	<div class="row" *ngIf="project?.tags">
		<div class="col-12">
			<p>Tags: {{project?.tags}}</p>
		</div>
	</div>

</div>

<ng-template #nothingExtra>
	<div class="container-fluid" id="projectDetails">
		<!-- Beskrivning av projektet -->
		<div class="row" id="titleAndDesc">
			<div class="col-12">
				<h2>{{project?.name}}</h2>
				<p id="details">{{project?.details}}</p>
				<h3 id="shortDescription">{{project?.shortDescription}}</h3>
			</div>
		</div>
		<div class="row" id="description">
			<div class="col-12">
				<p>{{project?.description}}</p>
			</div>
		</div>

		<!-- Beskrivning av projektet -->
		<div class="row" id="description" *ngIf="project?.description2">
			<div class="col-12">
				<p>{{project?.description2}}</p>
			</div>
		</div>

		<!-- En liggande bild -->
		<div class="row" *ngIf="project?.image4">
			<div class="col-12">
				<img class="img-fluid" [src]="project?.image4">
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<p>Year: {{project?.year}}</p>
			</div>
		</div>
	</div>
</ng-template>