h1 {
	font-family: essonnes-headline, serif;
	font-weight: 400;
	font-style: italic;
	text-transform: uppercase;
}

a, p {
	font-family: serenity, sans-serif;
	color: black;
}

a:hover {
	color: lightgrey;
}