<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<ngb-carousel *ngIf="projects" id="myCarousel">
				<ng-template ngbSlide *ngFor="let project of projects" >
					<a routerLink="/project/{{project.id}}" routerLinkActive="active" (click)="onSelect(project)">
						<img [src]="project.image" alt="{{project.name}}" id="carouselImage" title="{{project.name}}" (click)="onSelect(project)">
						<p id="projectName">{{project.name}}</p>
					</a>
				</ng-template>
			</ngb-carousel>
		</div>
	</div>
</div>